.sem1 {
    float: left;
}

.sem2 {
    margin-left: 400px;
}

table { 
    border: solid 5px gainsboro;
    text-align: center;
}

.sum { 
    float: right;
}

#info {
    background: url(img.jpeg) no-repeat center center;
    background-size: cover;
    height: max-content;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#info p {
    margin: 50px 50px;
}