/* #course-container {
    padding-top: 60px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly !important;
} */

#table {
    font-size: 1em;
}

label {
    display: block;
}

#assign {
    float: left;
    margin-left: 50px;
}

#handover {
    margin-left: 650px;
    margin-right: 50px;
}

#table-container {
    overflow-x: scroll;
}

.react-bs-table table td {
    white-space: nowrap;
    /* width: 60%; */
}

.react-bs-table table td:hover {
    overflow: visible;
}

/* TODO: change to dynamically follow the number of slots per 110px */
.react-bs-table table th {
    white-space: nowrap;
    overflow: visible;
    /* width: 60%; */
}

.react-bs-table table th:nth-child(3) {
    white-space: nowrap;
    overflow: visible;
    width: 130px;

}

.react-bs-table table td:nth-child(3) {
    white-space: nowrap;
    width: 130px;
}


.react-bs-table table th:nth-child(2) {
    white-space: nowrap;
    overflow: visible;
    width: 110px;
}

.react-bs-table table td:nth-child(2) {
    white-space: nowrap;
    width: 110px;
}

#info {
    background: url(img.jpeg) no-repeat center center;
    background-size: cover;
    height: max-content;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#info p {
    margin: 50px 50px;
}

#update {
    margin-top: 100px;
    margin-bottom: 50px;
}

#update-container {
    margin-bottom: 50px;
}

#container {
    margin:auto;
}