#info {
    background: url(../img.jpeg) no-repeat center center;
    background-size: cover;
    height: max-content;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#info h1 {
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 2px 2px #9e1919;
}

#info p {
    margin: 50px 50px;
    text-shadow: 1.5px 1.5px #40280b;
    font-weight: bold;
}

#registration-container {
    margin: auto;
}

#register-form {
    margin: auto;
}

#register-form h1 {
    background-color: beige;
}

#logoff {
    margin:auto;
}

#logoff p{
    background-color: gainsboro;
}