.sem1 {
    float: left;
}

.sem2 {
    margin-left: 400px;
}

table { 
    border: solid 5px gainsboro;
    text-align: center;
    margin: 20px;
}

.sum { 
    float: right;
    margin:50px;
}

#info {
    background: url(img.jpeg) no-repeat center center;
    background-size: cover;
    height: max-content;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#info h1 {
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 2px 2px #9e1919;
}

#info p {
    margin: 50px 50px;
    text-shadow: 1.5px 1.5px #40280b;
    font-weight: bold;
}
#container {
    margin: auto;
}

#summary-container {
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;
}

#block-container {
    margin-top: 50px;
    padding-top: 80px;
    margin: auto;
}

.inside-form {
    background-color: beige;
    margin-bottom: 25px;
}