#info {
    background: url(../img.jpeg) no-repeat center center;
    background-size: cover;
    height: max-content;
    text-align: center;
    font-size: large;
    padding-top: 100px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#info h1 {
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 2px 2px #9e1919;
}

#info p {
    margin: 50px 50px;
    text-shadow: 1.5px 1.5px #40280b;
    font-weight: bold;
}

.data h1 {
    margin-bottom: 25px;
    color: white;
    text-shadow: 1.5px 1.5px #40280b;
    font-weight: bold;
}

#form1 {
    background-size: cover;
    margin-right: 10px;
    background-color: #d2dadc73;
}

#form2 {
    background-size: cover;
    margin-right: 10px;
    background-color: #f0e0d1b8;
}

#form3 {
    background-size: cover;
    background-color: #7597b78c;
}