#header {
    position: fixed;
    width:100vw;
}
.slide,.info {
    margin-top: 115px;
}

img {
    width: 130px;
}

button {
    background: lightslategray;
    border: 1px solid lightsteelblue;
    color: white;
    font: bold;
}